@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  background: linear-gradient(to top, #be93c5, #7bc6cc);
  height: 100%;
}

h3 {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

p {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header nav{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.pagination {
  margin: 25px 150px;
  display: flex;
  align-items: center;
}
.pagination h3 {
  margin: 15px;
}

.pagination h3:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}
.social {
  margin: 25px 150px;
  display: flex;
  align-items: center;
}
.social a {
  margin-top: 5px;
  padding: 8px;
}
